[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
plotly = "*"
numpy = "*"
gunicorn = "*"
openpyxl = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.11"
